/* container stuff */
html, body{
    height: 100%;
}

#games {
    margin:0;
    
    background-image: url("../assets/images/gamesBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
};


