/* container stuff */
html, body{
    height: 100%;
}


/* main page formatting */
#main {
    margin:0;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
};
/* container is relative to allow buttons to move */
#buttonContainer {
    position: relative;
    width: 100%
}
#background {
    width: 100%;
    height: auto;
    display: block;
}
/* Button specific positions */
#gamesButton {
    position: absolute;
    left: 60%;
    top: 50%;
}
#technicalButton {
    position: absolute;
    left: 80%;
    top: 50%;
}



