/* container stuff */
html, body{
    height: 100%;
}


/* main page formatting */
#main {
    margin:0;
    
    background-image: url("../assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
};




